<div [hidden]="submitted" style="width: 400px;" class="offset-3">
    <h3>Make a Transfer</h3>
    <form (ngSubmit)="onSubmit()">
        <div *ngIf="transferType === 'own'">
            <div class="form-group">
                <label for="from">From Account</label>
                <select type="text" class="form-control" required [(ngModel)]="transfer.debitAccount" name="from">               
                    <option *ngFor="let account of accounts | async" [ngValue]="account.accountNumber">{{account.accountType + ' | ' + account.accountNumber + ' | R'+ account.availableBalance }}</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="to">To Account</label>
                <select type="text" class="form-control" required [(ngModel)]="transfer.creditAccount" name="to">               
                    <option *ngFor="let account of accounts | async" [ngValue]="account.accountNumber">{{account.accountType + ' | ' +account.accountNumber + ' | R'+ account.availableBalance}}</option>
                </select>
            </div>
        </div>
        
        <div *ngIf="transferType === 'external'">
            <div class="form-group">                        
                <label for="from">From Account</label>
                <select type="text" class="form-control" required [(ngModel)]="transfer.debitAccount" name="from">               
                    <option *ngFor="let account of accounts | async" [ngValue]="account.accountNumber">{{account.accountType + ' | ' +account.accountNumber + ' | R'+ account.availableBalance}}</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="to">To Account</label>
                 <input type="text" class="form-control"  required [(ngModel)]="transfer.creditAccount" name="to">        
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" id="amount" required [(ngModel)]="transfer.transactionAmount" name="amount">
        </div>
        <br>
        <div class="form-group">
            <label for="reference">Reference</label>
            <input type="text" class="form-control"  required [(ngModel)]="transfer.reference" name="reference">
        </div>
        <br>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

<div [hidden]="!submitted" class="centered">
    <h4>You submitted successfully!</h4>
    <div>Payment Amount: {{transfer.transactionAmount}}</div>
    <div>From Account: {{transfer.debitAccount}}</div>
    <div>To Account: {{transfer.creditAccount}}</div>
    <div>Reference: {{transfer.reference}}</div>
    <div>Status: Success</div>
</div>