<div [hidden]="!successMessage" class="alert alert-success alert-dismissible text-center">
  <span (click)="closeSuccessMessage()" class="close span-alert-box" data-dismiss="alert" aria-label="close">&times;</span>
  <strong>You submitted successfully!</strong>
</div>
   
<div [hidden]="!submitError"  class="alert alert-danger alert-dismissible text-center">
  <span (click)="closeErrorMessage()" class="close span-alert-box" data-dismiss="alert" aria-label="close">&times;</span>  
  <span *ngIf="errorMessage"><strong>Error! {{errorMessage}}</strong></span>
  <span *ngIf="!errorMessage"><strong>Error occurred during submission!</strong></span>
</div>

<div class="card">
    <div [hidden]="!showForm" style="width: 400px;" class="offset-3">
        <br>
        <h3>Make a Transfer</h3>
        <form>
            <div *ngIf="transferType === 'own'">
                <div class="form-group">
                    <label for="from">From Account</label>
                    <select  (change)="validateForms()" type="text" class="form-control" required [(ngModel)]="transfer.debitAccount" name="from">               
                        <option *ngFor="let account of accounts | async" [ngValue]="account.accountNumber">{{account.accountType + ' | ' + account.accountNumber + ' | R'+ account.availableBalance }}</option>
                    </select>
                    <span *ngIf="accountSelectionError" style="color: red">Debit account must not be same as credit account</span>
                </div>
                <br>
                <div class="form-group">
                    <label for="to">To Account</label>
                    <select (change)="validateForms()" type="text" class="form-control" required [(ngModel)]="transfer.creditAccount" name="to">               
                        <option *ngFor="let account of accounts | async" [ngValue]="account.accountNumber">{{account.accountType + ' | ' +account.accountNumber + ' | R'+ account.availableBalance}}</option>
                    </select>
                </div>
            </div>

            <div *ngIf="transferType === 'external'">
                <div class="form-group">                        
                    <label for="from">From Account</label>
                    <select type="text" class="form-control" required [(ngModel)]="transfer.debitAccount" name="from">               
                        <option *ngFor="let account of accounts | async" [ngValue]="account.accountNumber">{{account.accountType + ' | ' +account.accountNumber + ' | R'+ account.availableBalance}}</option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="to">To Account</label>
                     <input (change)="validateForms()" type="text" class="form-control"  required [(ngModel)]="transfer.creditAccount" name="to">        
                </div>
            </div>
            <br>
            <div class="form-group">
                <label for="amount">Amount (R)</label>
                <input (change)="validateForms()" type="number" min="1"  class="form-control" id="amount" required [(ngModel)]="transfer.transactionAmount" name="amount">
            </div>
            <br>
            <div class="form-group">
                <label for="reference">Reference</label>
                <input (change)="validateForms()" type="text" class="form-control"  required [(ngModel)]="transfer.reference" name="reference">
            </div>
            <br>
            <button [disabled]="!submitButtonActive" (click)="confirmDetails()" type="submit" class="btn btn-success btn-submit">Next</button>
            <button style="margin-bottom: 10px" type="submit" class="btn btn-dark" (click)=" backToInputForm()">Back</button>
        </form>
    </div>
    <div [hidden]="!confirm" class="centered">
        <h5>Confirm Details</h5>
        <div>
           <label><strong>From Account: </strong></label> {{transfer.debitAccount}}
        </div>
        <div>
           <label><strong>To Account: </strong></label> {{transfer.creditAccount}}
        </div>
        <div>
            <label><strong>Amount: </strong></label> R{{transfer.transactionAmount  | number : '.2-2'}}
        </div>
        <div>
            <label><strong>Reference: </strong></label> {{transfer.reference}}
        </div>
        <br>
        <button (click)="backToInputForm()" class="btn btn-dark">Back</button>
        <button (click)="submit(transfer)" style="margin-bottom: 10px" type="submit" class="btn btn-success btn-submit">Submit</button>            
    </div>
    <div [hidden]="!submitted" class="centered">
        <h4>Transaction Details</h4>
        <div><strong>Payment Amount: </strong>R{{transfer.transactionAmount | number : '.2-2'}}</div>
        <div><strong>From Account: </strong>{{transfer.debitAccount}}</div>
        <div><strong>To Account: </strong>{{transfer.creditAccount}}</div>
        <div><strong>Reference: </strong>{{transfer.reference}}</div>
        <div><strong>Status: </strong>Success</div>        
    </div>
    <button [hidden]="!submitted" (click)="reload()" class="btn btn-dark">Finish</button>
</div>    