<h2>Account Details</h2> 
<hr/>
<div *ngIf="account">
   <div>
        <label><strong>Account Number: </strong></label> {{account.accountNumber}}
    </div>
    <div>
        <label><strong>Account Type: </strong></label> {{account.accountType}}
    </div>
    <div>
        <label><strong>Status: </strong></label> {{account.status}}
    </div>
   <div>
        <label><strong>Available Balance: </strong></label> {{account.availableBalance}}
    </div>
   <div>
        <label><strong>Latest Balance: </strong></label> {{account.latestBalance}}
   </div>

<br>   
    
<div class="panel panel-default">
<div class="panel-heading row">
    <h5>Transactions</h5>
</div>
<div class="panel-body">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Date</th>
                <th>Reference</th>                   
                <th>Money In (R)</th>
                <th>Money Out (R)</th>
                <th>Status</th>
                <th>Balance</th>               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactions">
                <td>{{transaction.date_processed | date: 'dd-MM-yyyy' }}</td>
                <td>{{transaction.reference}}</td>
                <td *ngIf="transaction.transactionType === 'CREDIT'">{{transaction.creditEntry | number : '.2-2'}}</td>
                <td *ngIf="transaction.transactionType != 'CREDIT'"></td>
                <td *ngIf="transaction.transactionType === 'DEBIT'">{{transaction.debitEntry | number : '.2-2'}}</td>
                <td *ngIf="transaction.transactionType != 'DEBIT'"></td>
                <td>{{transaction.transactionStatus}}</td>
                <td *ngIf="transaction.transactionType === 'CREDIT'">{{transaction.creditBalance | number : '.2-2'}}</td>                               
                <td *ngIf="transaction.transactionType === 'DEBIT'">{{transaction.debitBalance | number : '.2-2'}}</td>                               
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-dark" onclick="history.back()">Back</button>
</div>
</div>
</div>

<br>
<br>
