<div [hidden]="!submitted" class="centered-message-box">
    You submitted successfully!  
</div>

<div [hidden]="!submitError" class="centered-error-message-box">
    Error occurred during submission!  
</div>

<div style="width: 400px;" class="offset-3">
    <h3>New Bank Account</h3>
    <form (ngSubmit)="onSubmit()">      
        <div class="form-group">
            <label for="accountType">Account Type</label>
            <select class="form-control" id="accountType" [(ngModel)]="bankAccount.accountType" name="accountType" ng-required="true">
              <option value="CHEQUE">CHEQUE</option>
                <option value="CREDIT">CREDIT</option>
                <option value="SAVINGS">SAVINGS</option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <label for="deposit">Deposit</label>
            <input type="number" class="form-control" id="deposit" [(ngModel)]="deposit.amount" name="deposit">
        </div>
        <br>
        <div class="form-group">
            <label for="reference">Reference</label>
            <input type="text" class="form-control" id="reference" [(ngModel)]="deposit.reference" name="reference">
        </div>
        
        <br>        
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>