<!--<div [hidden]="!submitted" class="centered-message-box">
    You submitted successfully!  
</div>

<div [hidden]="!submitError" class="centered-error-message-box">
    Error occurred during submission!  
</div>

<div style="width: 400px;" class="offset-3">
    <h3>Create Client</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="client.name" name="name">
            </div>
            <br>
            <div class="form-group col">
                <label for="surname">Surname</label>
                <input type="text" class="form-control" id="surname" required [(ngModel)]="client.surname" name="surname">
            </div>                      
        </div> 
        <br>  
        <div class="row">
            <div class="form-group col">
                <label for="idNumber">ID Number</label>
                <input type="text" class="form-control" id="idNumber" required [(ngModel)]="client.idNumber" name="idNumber">
            </div>
            <div class="form-group col">
                <label for="contactNumber">Contact Number</label>
                <input type="text" class="form-control" id="contactNumber" required [(ngModel)]="client.contactNumber" name="contactNumber">
            </div>            
        </div>
        <br>
        <div class="form-group col">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" required [(ngModel)]="client.email" name="email">
        </div>
        <br>        
        <button type="submit" class="btn btn-success btn-submit">Submit</button>
        <button type="submit" class="btn btn-dark" onclick="history.back()">Back</button>
    </form>
</div>-->
<!DOCTYPE html>
<html lang="en">
<head>  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div [hidden]="!submitted" class="alert alert-success alert-dismissible text-center">
  <span (click)="closeSuccessMessage()" class="close" data-dismiss="alert" aria-label="close">&times;</span>
  <strong>You submitted successfully!</strong>
</div>
   
<div [hidden]="!submitError"  class="alert alert-danger alert-dismissible text-center">
  <span (click)="closeErrorMessage()" class="close" data-dismiss="alert" aria-label="close">&times;</span>
  <strong>Error occurred during submission! </strong>
</div>

<div class="card">
    <div class="card-header">
        <h3>Create Client</h3>
    </div>
    <div style="width: 400px;" class="offset-3">
    <form [formGroup]="frmSignup" (ngSubmit)="onSubmit()">        
        <br>
        <div class="row">
            <div class="form-group col">
                <label for="name">Name</label>
                <input type="text" class="form-control" formControlName="name">                
                <div *ngIf="frmSignup.controls['name'].invalid && (frmSignup.controls['name'].dirty || frmSignup.controls['name'].touched)" class="alert alert-danger">
                    <div *ngIf="frmSignup.controls['name'].errors['required']">
                    Name is required.
                    </div>
                </div>   
            </div>             
            <br>              
            <div class="form-group col">
                <label for="surname">Surname</label>
                <input type="text" class="form-control" formControlName="surname">                   
                <div *ngIf="frmSignup.controls['surname'].invalid && (frmSignup.controls['surname'].dirty || frmSignup.controls['surname'].touched)" class="alert alert-danger">
                    <div *ngIf="frmSignup.controls['surname'].errors['required']">
                        Surname is required.
                    </div>
                </div>
            </div>            
        </div>        
        <br>
        <div class="row">
            <div class="form-group col">
                <label for="idNumber">ID Number</label>
                <input type="text" class="form-control" formControlName="idNumber">                
                <div *ngIf="frmSignup.controls['idNumber'].invalid && (frmSignup.controls['idNumber'].dirty || frmSignup.controls['idNumber'].touched)" class="alert alert-danger">
                    <div *ngIf="frmSignup.controls['idNumber'].errors['required']">
                        ID Number required.
                    </div>
                    <div *ngIf="frmSignup.controls['idNumber'].errors['pattern']">
                        ID Number is invalid.
                    </div>
                </div>
            </div>                                  
            <br>
            <div class="form-group col">
                <label for="contactNumber">contactNumber</label>
                <input type="text" class="form-control" formControlName="contactNumber">
                <div *ngIf="frmSignup.controls['contactNumber'].invalid && (frmSignup.controls['contactNumber'].dirty || frmSignup.controls['contactNumber'].touched)" class="alert alert-danger">
                    <div *ngIf="frmSignup.controls['contactNumber'].errors['required']">
                        Contact Number is required.
                    </div>
                    <div *ngIf="frmSignup.controls['contactNumber'].errors['pattern']">
                        Contact Number is invalid.
                    </div>
                </div>
            </div>                                  
        </div>
        <br>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" formControlName="email">
        </div>                      
       <div *ngIf="frmSignup.controls['email'].invalid && (frmSignup.controls['email'].dirty || frmSignup.controls['email'].touched)" class="alert alert-danger">            
            <div *ngIf="frmSignup.controls['email'].errors['required']">
                Email is required.
            </div> 
            <div *ngIf="frmSignup.controls['email'].errors['pattern']">
                Email is invalid.
            </div>            
        </div>       
        <br> 
        <button type="submit" [disabled]="frmSignup.invalid" class="btn btn-success btn-submit">Submit</button>
        <button type="submit" class="btn btn-dark" onclick="history.back()">Back</button>
  </form>
  </div> 
  <br> 