<div [hidden]="!successMessage " class="alert alert-success alert-dismissible text-center">
  <span (click)="closeSuccessMessage()" class="close span-alert-box" data-dismiss="alert" aria-label="close">&times;</span>
  <strong>You submitted successfully!</strong>
</div>
   
<div [hidden]="!submitError"  class="alert alert-danger alert-dismissible text-center">
  <span (click)="closeErrorMessage()" class="close span-alert-box" data-dismiss="alert" aria-label="close">&times;</span>
  <strong>Error occurred during submission! </strong>
</div>

<div class="card">
    <div [hidden]="!showForm" style="width: 400px;" class="offset-3">
        <br>
        <h3>Make a Deposit</h3>
        <form id="form-deposit">
            <h5>Account Number: {{account}}</h5>
            <div class="form-group">
                <label for="amount">Amount (R)</label>
                <input (change)="validateForms()" type="number" min="1" class="form-control" id="number" required [(ngModel)]="deposit.amount" name="amount">
            </div>
            <br>
            <div class="form-group">
                <label for="reference">Reference</label>
                <input (change)="validateForms()" type="text" class="form-control" id="reference" required [(ngModel)]="deposit.reference" name="reference">
            </div>                                    
        </form>
        <br>
        <button onclick="history.back()" class="btn btn-dark">Back</button> 
        <button [disabled]="!submitButtonActive" (click)="confirmDetails()" style="margin-bottom: 10px" type="submit" class="btn btn-success btn-submit">Next</button>           
</div> 
    
<div [hidden]="!confirm" class="centered">
    <h5>Confirm Details</h5>
    <div>
       <label><strong>Account Number: </strong></label> {{account}}
    </div>
    <div>
        <label><strong>Amount: </strong></label> R{{deposit.amount | number : '.2-2'}}
    </div>
    <div>
        <label><strong>Reference: </strong></label> {{deposit.reference}}
    </div>
    <br>
    <button (click)="backToInputForm()" class="btn btn-dark">Back</button>
    <button (click)="submit(deposit)" style="margin-bottom: 10px" type="submit" class="btn btn-success btn-submit">Submit</button>            
</div>
    
<div [hidden]="!submitted" class="centered">
        <h4>Transaction Details</h4>
        <div><strong>Deposit Amount: </strong>R{{deposit.amount | number : '.2-2'}}</div>
        <div><strong>Account Number: </strong>{{deposit.accountNumber}}</div>
        <div><strong>Reference: </strong>{{deposit.reference}}</div>
        <div><strong>Status:</strong> Success</div>        
 </div>
<button [hidden]="!submitted" (click)="accountDetails()" class="btn btn-dark">Finish</button> 
       