<div [hidden]="!successMessage " class="alert alert-success alert-dismissible text-center">
  <span (click)="closeSuccessMessage()" class="close span-alert-box" data-dismiss="alert" aria-label="close">&times;</span>
  <strong>You submitted successfully!</strong>
</div>
   
<div [hidden]="!submitError"  class="alert alert-danger alert-dismissible text-center">
  <span (click)="closeErrorMessage()" class="close span-alert-box" data-dismiss="alert" aria-label="close">&times;</span>
  <strong>Error occurred during submission! </strong>
</div>

<div class="card">
    <div [hidden]="submitted" style="width: 400px;" class="offset-3">
        <br>
        <h3>Make a Deposit</h3>
        <form (ngSubmit)="onSubmit()">
            <h5>Account Number: {{account}}</h5>
            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="number" class="form-control" id="number" required [(ngModel)]="deposit.amount" name="amount">
            </div>
            <br>
            <div class="form-group">
                <label for="reference">Reference</label>
                <input type="text" class="form-control" id="reference" required [(ngModel)]="deposit.reference" name="reference">
            </div> 
            <br>
            <button onclick="history.back()" class="btn btn-dark">Back</button>
            <button style="margin-bottom: 10px" type="submit" class="btn btn-success btn-submit">Submit</button>
        </form>
    </div>

    <div [hidden]="!submitted" class="centered">
        <h4>Transaction Details</h4>
        <div>Deposit Amount: {{deposit.amount}}</div>
        <div>Account Number: {{deposit.accountNumber}}</div>
        <div>Reference: {{deposit.reference}}</div>
        <div>Status: Success</div>
    </div>
    <button [hidden]="!submitted" (click)="accountDetails()" class="btn btn-dark">Finish</button>
</div>    