<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">           
        <li class="nav-item" style="margin-left: 10px;">
            <button (click)="newBankAccount()" class="btn btn-primary">New Bank Account</button>
        </li>
    </ul>

</nav>
<h3>Client Details</h3> 

<hr/>
<div *ngIf="client">
   <div>
        <label>Name: </label> {{client.name}}
    </div>
    <div>
        <label>Surname: </label> {{client.surname}}
    </div>
    <div>
        <label>ID Number: </label> {{client.idNumber}}
    </div>
   <div>
        <label>Contact Number: </label> {{client.contactNumber}}
    </div>
    <div>
        <label>Email: </label> {{client.email}}
    </div>
    <br>   
    
    <div class="panel panel-default">
    <div class="panel-heading row">
        <h5>Bank Accounts</h5>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Account Number</th>
                    <th>Account Type</th>                   
                    <th>Status</th>
                    <th>Available Balance</th>
                    <th>Latest Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let account of accounts">
                    <td>{{account.accountNumber}}</td>
                    <td>{{account.accountType}}</td>                                                         
                    <td>{{account.status}}</td>
                    <td>{{account.availableBalance}}</td>                                                         
                    <td>{{account.latestBalance}}</td>                                                       
                    <td>                        
                        <button (click)="deposit(account.accountNumber)" class="btn btn-info" style="margin-left: 10px">Deposit</button>
                    </td>                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back</button><br>