.error-message-box{
    margin: auto;
    margin-left: 35%;
    width: 30%;
    border: 1px solid #FFFF00;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
}

.success-message-box{
    margin: auto;
    margin-left: 35%;
    width: 30%;
    border: 1px solid #FFFF00;
    background-color: #60f07f;
    padding: 10px;
    border-radius: 5px;
}
.is-invalid {
  border-left: solid 6px red;
}

.material-icons {
  display: inline-flex;
  vertical-align: middle;
}

