<div [hidden]="!submitted" class="alert alert-success alert-dismissible text-center">
  <span (click)="closeSuccessMessage()" class="close span-alert-box" data-dismiss="alert" aria-label="close">&times;</span>
  <strong>Password change successful! You will be redirected to the login page. Please log in with new password.</strong>
</div>
   
<div [hidden]="!submitError"  class="alert alert-danger alert-dismissible text-center">
  <span (click)="closeErrorMessage()" class="close span-alert-box" data-dismiss="alert" aria-label="close">&times;</span>
  <strong>Error occurred during submission! </strong>
</div>


<div class="container p-3">
  <div class="offset-3 col-6">
    <div class="card">
      <div class="card-header  font-weight-bold">
        Change Password
      </div>
      <div class="card-body">
        <form [formGroup]="frmSignup" (submit)="onSubmit()">
          
          <div class="form-group">
            <label style="color: black" for="password" [ngClass]="frmSignup.controls['password'].invalid ? 'text-danger' : ''">
                <span style="color: black">Password:</span>
            </label>
            <input id="password" formControlName="password" type="password" class="form-control" [ngClass]="frmSignup.controls['password'].invalid ? 'is-invalid' : ''">            
            <label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('minlength')  ? '' : 'text-success'">
              <i class="material-icons"></i>
              Must be at least 8 characters!
            </label>
            <label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasNumber')  ? '' : 'text-success'">
              <i class="material-icons"></i>
              Must contain at least 1 digit!
            </label>
            <label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasCapitalCase')  ? '' : 'text-success'">
              <i class="material-icons"></i>
              Must contain at least 1 upper case character!
            </label>
            <label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasSmallCase')  ? '' : 'text-success'">
              <i class="material-icons"></i>
              Must contain at least 1 lower case character!
            </label>
            <label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasSpecialCharacters') ? '' : 'text-success'">
              <i class="material-icons"></i>
              Must contain at least 1 special character!
            </label>
          </div>
          <div class="form-group">
              <br>
            <label for="confirmPassword" [ngClass]="frmSignup.controls['confirmPassword'].invalid ? 'text-danger' : ''">
                <span style="color: black">Confirm Password:</span>
            </label>
            <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control"
              [ngClass]="frmSignup.controls['confirmPassword'].invalid ? 'is-invalid' : ''">
<!--            <label class="text-danger" *ngIf="frmSignup.controls['confirmPassword'].hasError('required')">
              Password is Required!
            </label>-->
            <label class="text-danger" *ngIf="frmSignup.controls['confirmPassword'].touched && frmSignup.controls['confirmPassword'].hasError('NoPassswordMatch')">
              Passwords do not match
            </label>
          </div>
          <br>  
          <div class="form-group">
            <button [disabled]="frmSignup.invalid" type="submit" class="btn btn-primary btn-block font-weight-bold">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>