<div [hidden]="!submitError" class="centered-error-message-box">
    Error occurred during submission!  
</div>

<div style="width: 400px;" class="offset-3">
    <h3>Change Password</h3>
    <form (ngSubmit)="onSubmit()"> 
        <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" class="form-control" id="password" required [(ngModel)]="passwordChange.password" name="password">
        </div>
        <br>
        <div class="form-group">
            <label for="confirmPassword">Confirm New Password</label>
            <input type="password" class="form-control" id="confirmPassword" required [(ngModel)]="passwordChange.confirmPassword" name="confirmPassword">
        </div>
        <br>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>